<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>D:/bjgt/logs/inspurServer.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [%line] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>100</maxIndex>
            <FileNamePattern>d:/bjgt/logs/inspurServer.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
<!--     <logger name="noModule" level="info"/> -->
<!--     <logger name="org.apache" level="info"/> -->
<!--     <logger name="org.springframework" level="info"/> -->
<!--     <logger name="net.sf.ehcache" level="info"/> -->
    <logger name="com.inspur.web.controls" level="debug"/>
    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="R"/>
    </root>
</configuration>